<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--Application Style sheets-->
    <link rel="stylesheet" type="text/css" href="../../Designs/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../Layout/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../../Layout/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../Layout/css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <nav class="sticky">
        <div class="row">
            <img src="../../Designs/img/logo-white.png" alt="Omnifood logo" class="logo">
            <img src="../../Designs/img/logo.png" alt="Omnifood logo" class="logo-black">
            <ul class="main-nav">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero-text-box">
        <h1>Yummy Recipes<br> Hello super healthy meals.</h1>
        <h2>SignUp</h2>
        <form>
            <input type="text" placeholder="Firstname">
            <input type="text" placeholder="Lastname">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
            <div>
                <input type="radio" id="male" name="gender"><label for="male">Male</label>
                <input type="radio" id="female" name="gender"><label for="female">Female</label>
            </div>
            <input type="submit" name="Submit">
        </form>
    </div>
</header>

<!--Script for Jquery to do some cool stuff like animations-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--Scripts to be used to enable functionality in older browsers-->
<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>

<!--Application Script files-->
<script src="../../Designs/js/scripts.js"></script>

</body>
</html>




